<!-- This page is displayed when hashcash solution isn't provided or it is wrong -->
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<!-- JQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="static/js/sha1.js"></script>
		<script src="static/js/flask_hashcash.js"></script>
		<script>
		findHashcashSolution({ callback:function(){location.reload();} }); // find hashcash solution and reload
		</script>
	</head>
	<body >
		<center><img src="https://media.giphy.com/media/3y0oCOkdKKRi0/giphy.gif"></center>
		<center class="big_text">Solving hashcash ...</center>
	</body>
</html>



